In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
os.chdir('D:/titanci/Machine-Learning-techniques-in-python-master')
data = pd.read_csv('logistic regression dataset-Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score,recall_score

In [16]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [26]:
x = data [[ 'User ID','Age', 'EstimatedSalary' ]]
y = data [['Purchased']]

In [37]:
xtrain,xtest,ytrain,ytest = train_test_split (x,y,test_size=0.4)
model = LogisticRegression()
model.fit(xtrain,ytrain)

D:\anaconda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\anaconda\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
pred = model.predict(xtrain)
confusion_matrix(ytrain,pred)

array([[150,   8],
       [ 59,  23]], dtype=int64)

In [39]:
acc = accuracy_score(ytrain, pred)
acc

0.7208333333333333

In [41]:
pred = model.predict(xtest)
confusion_matrix(ytest,pred)

array([[97,  2],
       [36, 25]], dtype=int64)

In [42]:
acc = accuracy_score(ytest, pred)
acc

0.7625